body {
    background-color: black;
    color: white;
}

#ascii-logo {
	font-family: monospace;
    text-align: center;
    white-space: pre;
}

#title-logo {
	font-family: monospace;
    text-align: center;
    white-space: pre;    	
}
